<div class="modals-container">
  <!-- not logged in -->
  <div *ngIf="!user.uid" class="sub-header">
    You must be logged in to quote your design.
  </div>

  <div *ngIf="user.uid">
    <img class="close-btn" (click)="dialogRef.close('cancel')" src="/assets/icons/tools/x-close.svg" alt="Close Modal">
    <div class="modals-body">
      <div class="modals-header">
        <span>Confirm your quote request</span>
      </div>
      <div class="modals-inputs">
        <div class="design-info input-line">
          <div class="info-section">
            <div class="sub-header">Design</div>
            <div class="info-line">
              <span>Feature</span>
              <span>{{featureType | capitalize}}</span>
            </div>
            <div class="info-line" *ngIf="!!formattedWidth">
              <span>Width</span>
              <span>{{formattedWidth}}</span>
            </div>
            <div class="info-line" *ngIf="!!formattedLength">
              <span>Length</span>
              <span>{{formattedLength}}</span>
            </div>
            <div class="info-line" *ngIf="!!formattedRadius">
              <span>Radius</span>
              <span>{{formattedRadius}}</span>
            </div>
            <div class="info-line" *ngIf="!!formattedCeilingLength">
              <span>Ceiling Length</span>
              <span>{{formattedCeilingLength}}</span>
            </div>
            <div class="info-line" *ngIf="isSeeyond">
              <span>Color</span>
              <span>{{seeyondMaterial}}</span>
            </div>
            <div class="info-line" *ngIf="isSeeyond">
              <span>Pattern</span>
              <span>{{seeyondTessellation}}</span>
            </div>
            <div class="info-line" *ngIf="isSeeyond">
              <span>Pattern Strength</span>
              <span>{{seeyondPatternStrength}}</span>
            </div>
            <div class="info-line" *ngIf="!!seeyondCoveLighting">
              <span>Cove Lighting</span>
              <span>{{seeyondCoveLighting}}</span>
            </div>
          </div>
          <div id="order-multiples" class="info-section" *ngIf="uiType === 'design'">
            <span class="help-text">
              <div class="sub-header">Quantity</div>
              <div class="description-text">Order multiples of your design</div>
            </span>
            <span class="multiples-input">
              <input type="number" [(ngModel)]="requestedQuantity" (change)="multiplesChanged()">
            </span>
          </div>
          <div id="add-clips" class="info-section" *ngIf="feature.feature_type === 'clario' || feature.feature_type === 'tetria'">
            <span class="help-text">
              <div class="sub-header">Add Clip Hardware</div>
              <span class="description-text">An optional attachment clip can be added to prevent movement of the ceiling tile in environments with positive pressure, significant air movement, or strong HVAC upward drafts. This clip creates force on the back side of the tile to hold it in place and can increase installation time.</span>
            </span>
            <span class="multiples-input">
              <input id="includeClips" type="checkbox" [checked]="feature.clipsRequested" (click)="clipsOptionChanged($event.target.checked)">
              <span>Include Clips</span>
            </span>
          </div>
          <div *ngIf="feature.feature_type !=='seeyond' && feature.showPricing" id="estimated-totals"
            class="info-section">
            <div class="info-line" *ngIf="feature.quantity > 1">
              <span class="sub-header">Design List:</span>
              <span class="total">{{feature.list_price / feature.quantity | currency:'USD'}}</span>
            </div>
            <div class="info-line" *ngIf="feature.quantity > 1">
              <span class="sub-header">Quantity:</span>
              <span class="total">{{feature.quantity}}</span>
            </div>
            <div class="info-line">
              <span class="sub-header">Total List:</span>
              <span class="total">{{feature.list_price | currency:'USD'}}</span>
            </div>
            <div class="info-line">
              <span class="sub-header">Discount:</span>
              <span class="total">{{feature.discount_terms_string}}</span>
            </div>
            <div class="info-line">
              <span class="sub-header">Discount amount:</span>
              <span class="total">{{feature.discount_amount | currency:'USD'}}</span>
            </div>
            <hr>
            <div class="info-line">
              <span class="sub-header">Net (USD):</span>
              <span class="total">{{feature.net_price | currency:'USD'}}</span>
            </div>
            <div class="description-text">Taxes, shipping & handling not included</div>
          </div>
          <div *ngIf="feature.feature_type ==='seeyond' && feature.showPricing" id="estimated-totals"
            class="info-section">
            <div class="info-line">
              <span class="sub-header">Design List:</span>
              <span class="total">{{seeyond.list_price / seeyond.quantity | currency:'USD'}}</span>
            </div>
            <div class="info-line" *ngIf="seeyond.quantity > 1">
              <span class="sub-header">Quantity:</span>
              <span class="total">{{seeyond.quantity}}</span>
            </div>
            <div class="info-line" *ngIf="seeyond.quantity > 1">
              <span class="sub-header">Total List:</span>
              <span class="total">{{seeyond.list_price | currency:'USD'}}</span>
            </div>
            <div class="info-line">
              <span class="sub-header">Discount:</span>
              <span class="total">{{seeyond.discount_terms_string}}</span>
            </div>
            <div class="info-line">
              <span class="sub-header">Discount amount:</span>
              <span class="total">{{seeyond.discount_amount | currency:'USD'}}</span>
            </div>
            <hr>
            <div class="info-line">
              <span class="sub-header">Net (USD):</span>
              <span class="total">{{seeyond.net_price | currency:'USD'}}</span>
            </div>
            <div class="description-text">Taxes, shipping & handling not included</div>
          </div>
        </div>
        <div class="input-line">
          <div class="sub-header">Project Name</div>
          <input type="text" placeholder="Project name" [(ngModel)]="feature.project_name">
        </div>
        <div class="input-line">
          <div class="sub-header">Specifier</div>
          <input type="text" placeholder="Specifier" [(ngModel)]="feature.specifier">
        </div>
        <div class="modals-action-btns">
          <div class="action-btns">
            <span appStyledButton='primary-right-large'>
              <button (click)="quoteConfirmed()" [disabled]="!validInputs()">
                <span>Confirm</span>
              </button>
            </span>
            <span>
              <button class="cancel-modal-btn" (click)="closeDialog()">
                <span>Cancel</span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="feature.feature_type !=='seeyond' && !feature.is_quantity_order" id="tile-usage-container">
        <app-tile-usage [isImbedded]="true" *ngIf="feature.feature_type !=='velo'"></app-tile-usage>
        <app-velo-tile-usage [isImbedded]="true" *ngIf="feature.feature_type === 'velo'"></app-velo-tile-usage>
      </div>
    </div>
  </div>
</div>
