.design-info {
  border-bottom: 4px solid black;

  .info-section {
    border-bottom: 1px solid #bbb;
    padding-bottom: 15px;
    margin-bottom: 15px;

    hr {
      margin: 0px;
    }

    .info-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      align-items: center;
      min-height: 2em;

      span {
        width: 50%;
      }
    }
  }
}

#order-multiples,
#add-clips {
  display: flex;
  align-items: center;

  span {
    width: 50%;
  }
}

input[type=checkbox] {
  width: 20px !important;
}

#estimated-totals {
  border-bottom: none;
  margin-bottom: 0px;
}

#tile-usage-container {
  margin-top: 15px;
  border-top: 4px solid black;
  padding-top: 30px;
}
