hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin-top: 5px;
}

.header p {
  margin-top: 0;
  margin-bottom: 0;
}

.order-data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.summary {
  width: 600px;
}

.design-summary {
  font-size: 1.5em;
  font-weight: 500;
}

.totals {
  margin: 15px 0px;
  padding: 0px 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;

  p {
    font-weight: 500;
  }
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer>* {
  margin-right: 10px;
}

.footer :last-child {
  margin-right: 0px;
  min-width: 84px;
}

.logo img {
  width: 85px;
}

.material-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.material-column img {
  margin-right: 10px;
}

// .mat-cell:last-child * {
//   cursor: pointer;
//   font-size: 1.1em;
// }

.mat-header-cell {
  color: #1f1f1f;
  font-size: inherit;
}

.mat-column-used,
.mat-column-receiving,
.mat-column-unused {
  flex: 0 0 15%;
}

.mat-column-hush-material,
.mat-column-material {
  flex: 0 0 55%;
  height: 74px;
}

.material-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.material-column img {
  margin-right: 10px;
}

.table-img {
  max-height: 50px;
  margin: 3px 0px;
}

.rep-name,
.rep-info {
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: 500;
}

.info {
  font-size: 22px;
  font-weight: 500;
}

.print {
  cursor: pointer;
  float: right;
}

.details-table-container {
  width: 100%;
  margin-bottom: 15px;
}

span.sm {
  font-size: 17px;
  font-weight: 300;
}

.back-to-design span {
  font-size: 11px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
