<ng-container *ngIf="!!design">
  <div class="details-ui">
    <div class="top-section">
      <div class="top-section-header">
        <span class="project-name">
          <!-- TODO: DO WE DISPLAY PROJECT NAME OR DESIGN NAME? -->
          <span>{{design.design_name}}</span>
        </span>
        <span class="header-navigation">
          <img src="/assets/icons/printer_icon.png" (click)="print()">
          <span appStyledButton='secondary-left' class="back-to-design">
            <button (click)="backToDesign()" class="go-to-quantity">Back to design</button>
          </span>
        </span>
      </div>
      <div class="design-details">
        <!-- LEFT-COLUMN -->
        <div class="contact-info rfq-data">
          <div class="top-row">
            <div class="left">
              <div>
                <span class="orange-bold">ID</span>
                <span>{{design.id}}</span>
              </div>
              <div>
                <span class="orange-bold">Specifier</span>
                <span>{{design.specifier}}</span>
              </div>
              <!-- <div> -->
                <!-- <span class="orange-bold">Date</span> -->
                <!-- TODO: GET THE DATE TO DISPLAY IT -->
                <!-- <span>{{design.updated_at | date:'shortDate'}}</span> -->
              <!-- </div> -->
            </div>
            <div class="right" *ngIf="!!rep">
              <div class="orange-bold">Sales Representative</div>
              <div>{{rep.name}}</div>
              <div>{{rep.email}}</div>
              <div>{{rep.phone}}</div>
            </div>
          </div>
          <div class="bottom-row">
            <div class="details-header">Est. Total</div>
            <div id="estimated-totals" class="info-section" *ngIf="feature.showPricing">
              <div class="info-line" *ngIf="seeyond.quantity > 1">
                <span>Design List:</span>
                <span class="total">{{seeyond.list_price / seeyond.quantity | currency:'USD'}}</span>
              </div>
              <div class="info-line" *ngIf="seeyond.quantity > 1">
                <span>Quantity:</span>
                <span class="total">{{seeyond.quantity}}</span>
              </div>
              <div class="info-line">
                <span>Total List:</span>
                <span class="total">{{seeyond.list_price | currency:'USD'}}</span>
              </div>
              <div class="info-line">
                <span>Discount:</span>
                <span class="total">{{seeyond.discount_terms_string}}</span>
              </div>
              <div class="info-line">
                <span>Discount amount:</span>
                <span class="total">{{seeyond.discount_amount | currency:'USD'}}</span>
              </div>
              <hr>
              <div class="info-line net">
                <span class="details-header">Net (USD):</span>
                <span class="total details-header">{{seeyond.net_price | currency:'USD'}}</span>
              </div>
              <div class="description-text">Taxes, shipping & handling not included</div>
            </div>
          </div>
        </div>
        <div class="divider"></div>

        <!-- RIGHT-COLUMN -->
        <div class="feature-info rfq-data">
          <div class="top-row">
            <div class="left">
              <div class="details-header">Feature</div>
              <!-- TODO: GET THE SEEYOND FEATURE TYPE, NOT JUST SEEYOND -->
              <div>{{featureHumanName}}</div>
            </div>
            <div class="right">
              <div class="details-header">Quantity Receiving</div>
              <div>Total - {{design.quantity || 1}}</div>
            </div>
          </div>
          <div class="bottom-row">
            <div class="left">
              <div class="details-header">Dimensions</div>
              <div>{{dimensionStr}}</div>
            </div>
            <div class="right"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-section">
      <div class="left-side">
      </div>
      <div class="right-side">
        <div class="details-header">Design</div>
        <img class="grid-guide img-responsive" src="{{design.design_data_url}}" alt="Grid Guide Image">
      </div>
    </div>
    <div class="logo-footer">
      <img src="//3form.s3.amazonaws.com/images/navigation/3form_logo.svg" alt="3form">
    </div>
  </div>
</ng-container>
