<div class="right-section">
  <div class="subtitle">Tile Size</div>
  <div class="description">Hush Swoon tiles are 8.66" wide x 5.21" high x 1" deep
    <!-- <br> (60.96cm x 40.64cm)</div> -->
    <div class="images grid-and-guide">
      <img src="/assets/images/tiles/hush-swoon/hush-swoon-measurement.png" alt="Hush Blocks Size. 24 inches by 16 inches.">
    </div>
  </div>

  <div class="right-section">
    <div class="subtitle">Design</div>
    <div class="description">Choose your tile design and color.</div>
    <div class="colors">
    </div>
  </div>
