.modify-selection {
  display: flex;
  flex-direction: row;
  span {
    .tool {
      border: 1px solid #bbb;
      padding: 10px 15px;
      display: flex;
      justify-content: center;
      width: 48px;
      height: 38px;
      img {
        height: 16px;
      }
    }
  }
}

.spacer-left {
  margin-left: 30px;
}

.wrap-text {
  max-width: 100px;
  display: block;
}

.rotate-text {
  line-height: 1.4;
  padding-top: 4px;
}
